/* General */

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
img{
    padding: 2px;
}
ul li{
    list-style: none;
}

header{
    background-color:  #B4CFB0;
}
main{
    background-color: #e5e3c9;
    border-bottom: solid 1px black;
}

footer{
    background-color:  #B4CFB0;
    padding: 1rem;
}

/* header */

#header-site{
    border-bottom: 1px solid black;
}

header>.container>.row img{
    height: 100px;
}

/* main */

.vlog img{
    border-radius: 5px;
}
